<div class="movie-card">
  <h5 class= "mt-5">Movie Name</h5>
  <h6><%= movie.title %></h6>

  <h5>Overview</h5>
  <h6><%= movie.overview %></h6>

  <h5>Rating</h5>
  <h6><%= movie.rating %></h6>
</div>
